<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">

    <script defer src="../main.js"></script>
    <title>Knucklebones</title>
</head>

<body>
    <div class="bg start">
        <div class="start-content">
            <div class="title">Knucklebones</div>
            <div class="button-container">
                    <button id="play-game" class="button">Play Game</button>
                <a href="game.html">
                    <button class="button">How to Play</button>
                </a>
                <a href="game.html">
                    <button class="button">Another Option</button>
                </a>
            </div>
        </div>
        <div class="main-gif-container">
            <img class="main-gif" src="../assets/gifs/Main_menu-animation.gif" alt="" srcset="">
        </div>
    </div>

</body>

</html>